@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Neonderthaw&display=swap');
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


:root {
  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #DEB887;
  --container-color: #FFFFFF;
}


body{
  margin: 3rem;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: 'Mochiy Pop P One', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

header {
  height: 7rem;
  background-color: var(--first-color);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: grey;
}
/*============ HEADER ============*/
.nav-container {
  display: flex;
  max-width: 1024px;
  height: 3rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.logo {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.nav_menu {
  background-color: var(--body-color);
  text-align: center;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  border-radius: 10px;
}

.nav_item {
  margin: 3rem;
}

.nav_list {
  display: flex;
  list-style-type: none;
}

/*============ HEM ============*/
.home_container {
  background-image: url("/img/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg");
  background-size: 100%;
  height: 782px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1rem;
}

.home_container2 {
  background-image: url("/img/createtravel-tv-nZ_bhPUW5UQ-unsplash.jpg");
  background-size: 100%;
  height: 782px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1rem;
}

.infobox {
  height: auto;
  width: 50%;
  margin-top: 4rem;
  text-align: center;
  background-color: rgba(228, 225, 248, 0.8);
  border-radius: 0.5rem;
}

.home_title {
  color: var(--title-color);
}

.home_subtitle {
  color: var(--title-color);
}

/*============ KONTAKTA ============*/
.contact_container {
  text-align: center;
}

.contact_description {
  margin-bottom: 3rem;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFFFFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
  margin-bottom: 3rem;
}

/*============ FOOTER ============*/
#footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
}

/*============ MENU GRID ============*/
.menu_container {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 76vh;
  width: 60vw;
  grid-template-columns: 35vh 30vh;
  grid-template-rows: 12vw 20vw;
  grid-template-areas: 
  "mi1 me1"
  "mi2 me1"
  ;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 60px;
}
#menu {
  grid-area: me1;
  text-align: center;
  color: #FFFFFF;
}

.menu_item {
  margin-bottom: 2rem;
}

#menu_img {
  border-radius: 50px;
  grid-area: mi1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("/img/damir-spanic-7cPVUSEppWU-unsplash.jpg");
}

#menu_img1 {
  border-radius: 50px;
  grid-area: mi2;
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("/img/max-griss-xVgE_mCA8fk-unsplash.jpg");
}

.wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/steve-harvey-Bv4ImkwctlY-unsplash.jpg");
  background-size: 100%;
}
